@model IEnumerable<Common.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome to the Learning Portal!</h1>
    <p class="lead">There are a lot of courses on different themes.</p>
</div>

<div class="row">

    @foreach (var cat in Model)
    {
    <div class="col-lg-4">
        <h2>@cat.CategoryName</h2>
        <p>@cat.CourseTitle</p>
        <p><a class="btn btn-secondary" href="#" role="button">Check course</a></p>
    </div>
     }
        
    </div>
    
